body {
    font-family: Arial, sans-serif;
}
.section {
    margin-bottom: 20px;
}
.section-header {
    font-weight: bold;
    margin-bottom: 10px;
}
.grid-container {
  display: grid;
  grid-template-areas:
    'hero hero hero hero hero hero'
    'menu main main main right right'
    'menu footer footer footer footer footer';
  gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 0, 0, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
.hero {
    background-color: #2196F3;
    background: white;
}